*{
    box-sizing: border-box;
}
aside{
    float:left;
}
aside2{
    float:right;
}
section{
    float:center;
}
section h1{
    font-size: 35px;
}
header{
    float: center;
}
nav{
    font-size: 23px;
}
a{
    color: darkmagenta
}
a:hover{
    color: rgb(109, 3, 109);
}
img, video{
    margin: 10px;
}
footer{
    display: block;
    clear: both;
    color: white
}
body, pre{
    background-color: #171717; 
    font-size: 20.2px; 
    font-family: Verdana, sans-serif;
}
h1, h2, p, pre, label, dd{
    color: white;
    width: 50%;
}
li{
    color:white;
}
#title{
    text-shadow: 5px 5px 3px darkmagenta;
    font-size: 46px;
    margin: 0px;
    width: auto;
}
#asideimg{
    padding-left: 20px;
    margin: 0px;
    width:  380px;
    height: 350px;
}
#asideimg2{
    padding-right: 20px;
    margin: 0px;
    width: 350px;
    height: 350px;
}
#twitter{
    margin: 0px;
    width: 40px;
    height: 40px;
}
#github{
    margin: 0px;
    width: 40px;
    height: 40px;
}
#boldcolortext{
    color: darkmagenta;
    font-weight: bold;
}
#active, #actGenButton, #actProButton, #actArtButton{
    border: solid 4px;
    border-radius: 10px;
    background-color: rgb(54, 51, 54);
    border-color: rgba(139, 0, 139, 0);
    font-weight: bold;
}
#active:hover, #actGenButton:hover, #actProButton:hover, #actArtButton:hover{
    animation-name: hoverActiveBorder;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
}
#genPosts a, #proPosts a, #artPosts a{
    text-decoration: none;
}
.headlinks{
    border: solid 4px;
    border-color: rgba(139, 0, 139, 0);
    padding-right: 1.5%; 
    padding-left: 1.5%;
    text-decoration: none; 
    padding-bottom: 0.3%;
    padding-top: 0.6%;
    color: white;
}
.headlinks:hover{
    border: solid 4px;
    border-radius: 10px;
    color: white;
    animation-name: hoverBorder;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    border-color: rgba(139, 0, 139, 0);
}
.pagination a{
    border: solid 4px;
    border-color: rgba(139, 0, 139, 0);
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block
}
.pagination a:hover:not(.active){
    border: solid 4px;
    border-color: rgba(139, 0, 139, 0);
    border-radius: 10px;
    animation-name: hoverBorder;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
}
.gallery{
    display: inline-block;
    border: solid 4px;
    border-radius: 10px;
    background-color: rgb(40, 37, 40);
    border-color: rgba(139, 0, 139, 0);
    margin: 5px;
    width: 350px;
}
.gallery .description{
    padding:  10px;
    text-align: center;
    color:white;
}
.gallery:hover{
    border: solid 4px;
    border-radius: 10px;
    animation-name: hoverActiveBorder;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    border-color: rgba(139, 0, 139, 0);
}
.gallery img{
    width: 100%;
    height: auto;
    padding-right: 20px;
}
.container{
    display:flex;
    justify-content: center;
    margin: 25px;
    column-gap: 5px;
}
.choosePostTopic{
    width: 600px;
    height: auto;
    text-align: left;
}
.postTopic{
    border: solid 4px;
    border-radius: 10px;
    background-color: rgba(139, 0, 139, 0);
    border-color: rgba(139, 0, 139, 0);
    color: white;
    font-size: 20px;
}
.postTopic:hover{
    border: solid 4px;
    border-radius: 10px;
    animation-name: hoverBorder;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    border-color: rgba(139, 0, 139, 0);
}
@media screen and (max-width:1000px){
    section, article{
        width:100%;
    }
    aside{
        position:absolute;
        right: 75%;
    }
    aside2{
        position:absolute;
        left: 75%;
    }
}
@keyframes hoverActiveBorder{
    100%{background-color:rgb(72, 67, 72);}
}
@keyframes hoverBorder{
    100%{background-color: rgb(40, 37, 40);}
}