*{
    box-sizing: border-box;
}
aside{
    float:left;
}
aside2{
    float:right;
}
section{
    float:center;
}
section h1{
    font-size: 35px;
}
header{
    float: center;
}
nav{
    font-size: 23px;
}
footer{
    display: block;
    clear: both;
    color: white
}
body, pre{
    background-color: #171717; 
    font-size: 20.2px; 
    font-family: Verdana, sans-serif;
}
h1, h2, p, pre, label, dd{
    color: white;
    width: 50%;
}
a{
    color: darkmagenta
}
a:hover{
    color: rgb(109, 3, 109);
}
img, video{
    margin: 10px;
}
#title{
    text-shadow: 5px 5px 3px darkmagenta;
    font-size: 46px;
    margin: 0px;
    width: auto;
}
#asideimg{
    padding-left: 20px;
    margin: 0px;
    width:  380px;
    height: 350px;
}
#asideimg2{
    padding-right: 20px;
    margin: 0px;
    width: 350px;
    height: 350px;
}
#twitch{
    margin: 0px;
    width: 40px;
    height: 40px;
}
#github{
    margin: 0px;
    width: 40px;
    height: 40px;
}
#active{
    border: solid 4px;
    border-radius: 10px;
    background-color: rgb(54, 51, 54);
    border-color: rgba(139, 0, 139, 0);
    font-weight: bold;
}
#active:hover{
    background-color: rgb(72, 67, 72);
}
.downloadlabel{
    color: darkmagenta;
    font-weight: bold;
}
.headlinks{
    padding-right: 1.5%; 
    padding-left: 1.5%;
    text-decoration: none; 
    padding-bottom: 0.3%;
    padding-top: 0.6%;
    color: white;
}
.headlinks:hover{
    border: solid 4px;
    border-radius: 10px;
    background-color: rgb(40, 37, 40);
    border-color: rgba(139, 0, 139, 0);
    color: white;
}
.pagination a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block
}
.pagination a.active{
    background-color: rgb(54, 51, 54);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(40, 37, 40);
    border-radius: 5px;
}
.pagination a.active:hover{
    background-color: rgb(72, 67, 72);
    font-weight: bold;
    border-radius: 5px;
}
.gallery{
    display: inline-block;
    border: 2px solid white;
    margin: 5px;
    width: 350px;
}
.gallery .description{
    padding:  10px;
    text-align: center;
    color:white;
}
.gallery:hover{
    border: 2px solid grey;
}
.gallery img{
    width: 100%;
    height: auto;
    padding-right: 20px;
}
.container{
    display:flex;
    justify-content: center;
    margin: 25px;
    column-gap: 5px;
}
@media screen and (max-width:1000px){
    aside, section, article{
        width:100%;
    }
}